<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="../static/fonts/icomoon/style.css">

    <link rel="stylesheet" href="../static/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="../static/css/style_index.css">

    <link rel="stylesheet" href="../static/css/mstyle.css">

    <title>豆瓣电影可视化分析</title>

    <style>
        #chart_2 {
            cursor: pointer;
        }
    </style>
</head>

<body>


<div class="site-mobile-menu">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div>

<header class="site-navbar" role="banner">

    <div class="container">
        <div class="row align-items-center">

            <div class="col-11 col-xl-2">
                <h1 class="mb-0 site-logo"><a href="index.html" class="text-white mb-0">...</a></h1>
            </div>
            <div class="col-12 col-md-10 d-none d-xl-block">
                <nav class="site-navigation position-relative text-right" role="navigation">

                    <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                        <li class="active"><a href="index.html"><span>Home</span></a></li>
                        <li class="has-children">

                            <a href="#"><span>数据分析</span></a>
                            <ul class="dropdown arrow-top">

                                <li><a href="#block_1">预测豆瓣评分</a></li>
                                <li><a href="#block_2">国内演员分布</a></li>
                                <li><a href="#block_3">世界出色电影分布</a></li>
                                <li><a href="#block_4">影评词云</a></li>
                                <li><a href="#block_5">电影年上映量</a></li>
                                <li><a href="#block_6">导演作品排行</a></li>
                                <li><a href="#block_7">演员作品排行</a></li>
                                <li><a href="#block_8">电影时长排行</a></li>
                                <li><a href="#block_9">用户活跃程度</a></li>
                                <li><a href="#block_10">各语种电影</a></li>
                                <li><a href="#block_11">电影类型变化</a></li>


                                <!-- <li class="has-children">

                                  <a href="#">Dropdown</a>
                                  <ul class="dropdown">
                                    <li><a href="#">Menu One</a></li>
                                    <li><a href="#">Menu Two</a></li>
                                    <li><a href="#">Menu Three</a></li>
                                    <li><a href="#">Menu Four</a></li>
                                  </ul>
                                </li> -->


                            </ul>
                        </li>
                        <li><a href="listings.html"><span>Listings</span></a></li>
                        <li><a href="about.html"><span>About</span></a></li>
                        <li><a href="blog.html"><span>Blog</span></a></li>
                        <li><a href="contact.html"><span>Contact</span></a></li>
                    </ul>
                </nav>
            </div>


            <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#"
                                                                                                                class="site-menu-toggle js-menu-toggle text-white"><span
                    class="icon-menu h3">



            </span></a></div>

        </div>

    </div>
    </div>

</header>


<button onclick="topFunction()" id="back2top" title="Go to top">Top</button>

<div id="home" class="hero" style="background-image: url('../static/images/hero_1.jpg');">

</div>


<div id="block_1" class="hero wrap" style="background-image: url('../static/images/1.jpg');">

    <div class="box blur">

        <div id="chart_1" class="chart" style="width:100%;height:610px;">
            <!--            <h1>hhhhhhhhhhhh</h1>-->
        </div>
    </div>

</div>


<div id="block_2" class="hero wrap" style="background-image: url('../static/images/2.jpg');">

    <div class="box blur">
        <div id="chart_2" class="chart" style="width:100%;height:610px;">

        </div>
    </div>

</div>

<div id="block_3" class="hero wrap" style="background-image: url('../static/images/3.jpg');">

    <div class="box blur">
        <div id="chart_3" class="chart" style="width:100%;height:610px;">

        </div>
    </div>

</div>

<div id="block_4" class="hero wrap" style="background-image: url('../static/images/4.jpg');">

    <div class="box blur">
        <div id="chart_4" class="chart" style="width:100%;height:610px;">

        </div>
    </div>

</div>

<div id="block_5" class="hero wrap" style="background-image: url('../static/images/5.jpg');">

    <div class="box blur">
        <div id="chart_5" class="chart" style="width:100%;height:610px;">

        </div>
    </div>

</div>

<div id="block_6" class="hero wrap" style="background-image: url('../static/images/6.jpg');">

    <div class="box blur">
        <div id="chart_6" class="chart" style="width:100%;height:610px;">

        </div>
    </div>

</div>
<div id="block_7" class="hero wrap" style="background-image: url('../static/images/7.jpg');">

    <div class="box blur">
        <div id="chart_7" class="chart" style="width:100%;height:610px;">

        </div>
    </div>

</div>
<div id="block_8" class="hero wrap" style="background-image: url('../static/images/8.jpg');">

    <div class="box blur">
        <div id="chart_8" class="chart" style="width:100%;height:610px;">

        </div>
    </div>

</div>
<div id="block_9" class="hero wrap" style="background-image: url('../static/images/9.jpg');">

    <div class="box blur">
        <div id="chart_9" class="chart" style="width:100%;height:610px;">

        </div>
    </div>

</div>
<div id="block_10" class="hero wrap" style="background-image: url('../static/images/10.jpg');">

    <div class="box blur">
        <div id="chart_10" class="chart" style="width:100%;height:610px;">

        </div>
    </div>

</div>

<div id="block_11" class="hero wrap" style="background-image: url('../static/images/11.jpg');">

    <div class="box blur">
        <div id="chart_11" class="chart" style="width:100%;height:610px;">

        </div>
    </div>

</div>

<script src="../static/js/jquery-2.2.1.min.js"></script>
<!--<script src="../static/js/jquery-3.3.1.min.js"></script>-->
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/popper.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/jquery.sticky.js"></script>
<script src="../static/js/main.js"></script>
<script src="../static/js/mjs.js"></script>


<!--引入-->

<script src="../static/js/dataTool.js"></script>
<script src="../static/js/index.js"></script>
<!--<script src="../static/js/world.js"></script>-->
<script src="../static/js/common.js"></script>
<script src="../static/js/echarts.min.js"></script>
<script src="../static/js/china.js"></script>

<!--<script src="../static/js/echarts-all.js"></script>-->
<!--<script src="../static/js/echarts.common.min.js"></script>-->

<script src="../static/js/vue.min.js"></script>
<script src="../static/js/vue-index.js"></script>

<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts-all-3.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>

</body>

</html>